.container {
  margin: 10px 10px;
}

.card {
  margin: 2% 10px !important;
}

.infected {
  border-top: 10px solid rgba(0, 0, 255, 0.5);
}

.recoverd {
  border-top: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-top: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-wedth: 770px) {
  .card {
    margin: 2% 25px !important;
  }
}
